# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
frontend/node_modules/
backend/node_modules/

# Build output
dist/#include<iostream>
using namespace std;

int main(){
    
    return 0;
}
build/

# Environment variables
.env

# IDE and editor settings
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Optional npm cache directory
.npm
